<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Administration</title>
</head>
<body>
<div style="height: 50px"></div>
<div class="container-fluid row">
    <div class="col-3"></div>
    <div class="col-6">
        <h2 style="text-align: center">Administration</h2>
        <br>
        <div style="text-align:center">
            <button onclick="window.location='/usersPage'" type="submit" value="Users" class="btn btn-secondary">Users
            </button>
        </div>
        <br>
        <div style="text-align:center">
            <button onclick="window.location='/roles'" type="submit" value="Access level" class="btn btn-secondary">
                Access level
            </button>
        </div>
        <br>
        <div style="text-align:center">
            <a href="/panel" class="btn btn-secondary" role="button">Back</a>
        </div>
        <br><br>
    </div>
</div>
</body>
</html>